doctype html
html
  head
    title New Book Added
  body
    h1 The new Book added is part of the collection!
    p Title: #{title}
    p Author: #{author}
    p Year Published: #{year}
    p Great news! The book has been successfully added to the system.